--

/****** Script to list all PAR/TAR info for selected instance name  ******/
SELECT a.[ID]
      ,a.[InstanceName]
      ,b.[LoginName]
      ,b.[ServerRole]
      ,b.[ParID]
      ,b.[InsertedBy]
      ,b.[Date]
      ,b.[DueDate]
      ,b.[IsRevoked]
  FROM [SQLInventory].[dbo].[tApprovedPAR] b
  JOIN [SQLInventory].[dbo].[tInstances] a ON a.[ID] = b.[InstanceID]
  WHERE a.[InstanceName] = 'usqaswv015\sql01'
  ORDER BY b.[LoginName]

/****** Script to list all PAR/TAR info for selected Login name *****************/

  SELECT a.[ID]
        ,a.[InstanceName]
        ,b.[LoginName]
        ,b.[ServerRole]
        ,b.[ParID]
        ,b.[InsertedBy]
        ,b.[Date]
        ,b.[DueDate]
        ,b.[IsRevoked]
  FROM [SQLInventory].[dbo].[tApprovedPAR] b
  JOIN [SQLInventory].[dbo].[tInstances] a ON a.ID = b.[InstanceID]
  WHERE b.[LoginName] = 'PHX-DC\extadm_saltamar'
  ORDER BY a.[InstanceName]

